* {
	font-family: 'Titillium Web', sans-serif;
}

body {
	background-image: url("../imgs/bg.png");
	/* cc: https://www.digitalocean.com/community/projects */
}

.page-header {
    margin: 10px 0 20px;
}

.new-container-fluid {
    padding-bottom: 15px;
}
