* {
	font-family: 'Titillium Web', sans-serif;
}

body {
	/*background-image: url("../imgs/bg.png");*/
	/* cc: https://www.digitalocean.com/community/projects */
	background: linear-gradient(45deg,#27a2d0,#57cd5687);
	/*background-color: #24CC8A;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%2324CC8A' width='11' height='11'/%3E%3Crect fill='%2324cd8c' x='10' width='11' height='11'/%3E%3Crect fill='%2324cd8d' y='10' width='11' height='11'/%3E%3Crect fill='%2324ce8f' x='20' width='11' height='11'/%3E%3Crect fill='%2324cf91' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%2324cf92' y='20' width='11' height='11'/%3E%3Crect fill='%2324d094' x='30' width='11' height='11'/%3E%3Crect fill='%2324d096' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%2324d197' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%2324d299' y='30' width='11' height='11'/%3E%3Crect fill='%2325d29b' x='40' width='11' height='11'/%3E%3Crect fill='%2325d39c' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%2326d39e' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%2326d4a0' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%2327d5a1' y='40' width='11' height='11'/%3E%3Crect fill='%2327d5a3' x='50' width='11' height='11'/%3E%3Crect fill='%2328d6a5' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%2329d6a6' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%2329d7a8' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%232ad8a9' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%232bd8ab' y='50' width='11' height='11'/%3E%3Crect fill='%232cd9ac' x='60' width='11' height='11'/%3E%3Crect fill='%232dd9ae' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%232edab0' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%232fdbb1' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2330dbb3' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2331dcb4' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2332dcb6' x='70' width='11' height='11'/%3E%3Crect fill='%2333ddb7' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2334deb9' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2335deba' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2337dfbc' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2338dfbd' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2339e0bf' x='80' width='11' height='11'/%3E%3Crect fill='%233ae0c0' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%233ce1c2' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%233de2c3' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%233ee2c5' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%2340e3c6' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2341e3c7' x='90' width='11' height='11'/%3E%3Crect fill='%2343e4c9' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2344e4ca' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2345e5cc' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2347e5cd' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%2348e6ce' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%234ae7d0' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%234be7d1' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%234de8d3' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%234ee8d4' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2350e9d5' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%2352e9d7' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%2353ead8' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2355ead9' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%2356ebda' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%2358ebdc' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%2359ecdd' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%235becde' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%235dede0' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%235eede1' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%2360EEE2' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;*/
	/* background by SVGBackgrounds.com */
}

.page-header {
	margin: 10px 0 15px;
}

.new-container-fluid {
	padding-bottom: 15px;
	display: flex;
	padding-left: 0;
}

.radioBorder {
	padding-right: 50px;
}

.github-corner {
	border-bottom: 0;
	position: fixed;
    	right: 0;
	text-decoration: none;
	top: 0;
	z-index: 1;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

	0%,
	100% {
		transform: rotate(0)
	}

	20%,
	60% {
		transform: rotate(-25deg)
	}

	40%,
	80% {
		transform: rotate(10deg)
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}
